@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    /*se desliza cuando hacemos click dentro del menu*/
}
/*MENU*/
.contenedor-header{
    /*que hace?*/
    background-color: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header .logo a{
    font-family: 'Righteous';
    font-size: 36px; /* Ajusta el texto incluido en span a 16px */
    color: #1CB698;
    text-decoration: none; 
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header ul li a{
    text-align: none;
    color: #FFF;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header nav ul li a:hover{
    color: #1e2326;
}

.nav-responsive{
    background-color: #1CB698;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.inicio{
    background-image: url("Imagenes/fondo.jpg");
    background-size: cover;
    height: 100vh;
    color: #FFF;
    display: flex;
    align-items: center;
}



.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1{
    margin-top: 5px;
    font-size: 42px;
    font-family:'Righteous';
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a{
    color: #FFF;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #FFF;
    border-radius: 80%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover{
    background-color: #1CB698;
}

/*SOBRE MI*/

.sobremi{
    background-color: #1e2326;
    color: #FFF;
    padding: 50px 20px;

}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin:auto;
}

.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;

}
/*
.sobremi .contenido-seccion p span{
    color: #1CB698;
    font-weight: bold;
}
*/
.sobremi .fila{
    display: flex;
}

.sobremi .fila .col{
    width: 50%;
}

.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.sobremi .fila .col ul{
    list-style: none;

}
.sobremi .fila .col ul li{
    margin: 12px 0;

}

.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;
}

.sobremi .fila .col ul li span{
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #252a2e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 3s;
}
.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #1CB698;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size:30px;
    margin-bottom: 10px;
}

.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #FFF;
    position: relative;
    z-index: 10;

}
.sobremi button .overlay{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay{
    width: 100%;
}

/* Seccion Contacto*/

.contacto{
    background-image: url("Imagenes/fondo.jpg");
    background-color: #1CB698;
    color: #FFF;
    padding: 50px 0;
}

.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contacto .fila{
    display: flex;
}

.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252a2e;
    color: #FFF;
    font-size: 18px;
}

.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #FFF;
    position: relative;
    z-index: 10;
}

.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay{
    width: 100%;
}

.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #252a2e;
    padding: 20px;
    max-width: 350px;
    left: 70%;
    transform: translate(-50%, -50%);
}

.contacto .col .info ul{
    list-style: none;
}

.contacto .col .info ul li{
    margin-bottom: 20px;
}

.contacto .col .info ul li{
     color: #1CB698;
     display: inline-block;
     margin-right: 20px;

}

@media screen and (max-width:900px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252a2e;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }

    nav.responsive ul li{
        border-bottom: 1px solid #FFF;
        padding: 10px 0;
    } 
}

@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        padding: 80px;
        width: 100%;
        
    }
}

